Hello, {USERNAME}

Welcome to the EVO DMA Community! Before you get full access to your account you must activate it.

You can activate the account associated with {EMAIL} by clicking the link below:
{LINK}

NOTE: The link expires after one hour.

- The EVO DMA Team