.swal2-container.swal2-center {
    background-color: #171717 !important;
    margin-top: 30px;
}

.swal2-popup {
    background-color: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.7) !important;
    border: 1px solid #444444 !important;
    border-radius: 5px !important;
    color: #ffffff !important;
}

.swal2-html-container {
    color: #ffffff !important;
    font-size: 18px !important;
}

.swal2-container.swal2-center > .swal2-popup > .swal2-title {
    font-size: 32px !important;
}

/* Icon Styles */

/* Warning */
.swal2-icon.swal2-warning {
    border: 2px solid transparent !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
}

/* Error */
.swal2-icon.swal2-error {
    border: 2px solid transparent !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
}

.swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
    background-color: #ffffff !important;
}

/* Success */
.swal2-icon.swal2-success {
    border-color: #212121 !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
    border: 2px solid #ffffff !important;
}

.swal2-icon.swal2-success [class^="swal2-success-line"] {
    background-color: #ffffff !important;
}

/* Info */
.swal2-icon.swal2-info {
    border: 2px solid transparent !important;
    border-color: #ffffff !important;
    color: #077bff !important;
}

/* Question */
.swal2-icon.swal2-question {
    border: 2px solid transparent !important;
    border-color: #ffffff !important;
    color: #077bff !important;
}
