@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=1A241947-99FD-4379-BFD4-8BEE1BC27BE9

@dzltest:registry=https://git.home.roarkw3.com/api/packages/DZLTEST/npm/
//git.home.roarkw3.com/api/packages/DZLTEST/npm/:_authToken=be51cb995d1afc96df34c7876be72e6984606f6d
